.title-bar {
  display: flex;
  height: 67px;
  font-family: 'CiscoSans TT Regular', 'Helvetica Neue', Arial;
  border-bottom: 1px solid #ececed;
}

.title {
  margin: 0;
  font-size: 17px;
  line-height: 4;
  color: #049fd9;
  text-overflow: ellipsis;
  background-color: transparent;
  flex: 1 1 auto;
}

.avatar-container {
  padding: 18px;
}
