.textarea {
  display: block;
  width: 100%;
  max-height: 500px;
  min-height: 59px;
  padding: 20px;
  margin: 0;
  margin-top: 15px;
  overflow: hidden;
  font-family: CiscoSansTTExtraLight, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  background: transparent;
  border: none;
  outline: none;
  box-sizing: border-box;
  resize: none;
}
