.connection-status {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #6a6b6c;
  border-radius: 50%;
}

.connected {
  background-color: #30d557;
}

.connecting {
  background-color: #ffb400;
}

.disconnected {
  background-color: #ff513d;
}
