# Web SDK Team Ownership

*                                                                      @webex/web-sdk


# Commonly Owned Packages

packages/@webex/common                                    @webex/web-client @webex/web-sdk
packages/@webex/helper-html                               @webex/web-client
packages/@webex/helper-image                              @webex/web-client
packages/@webex/http-core                                 @webex/web-client @webex/web-sdk
packages/@webex/internal-plugin-conversation              @webex/web-client @webex/web-sdk
packages/@webex/internal-plugin-device                    @webex/web-client @webex/web-sdk
packages/@webex/internal-plugin-llm                       @webex/web-client @webex/web-sdk
packages/@webex/internal-plugin-mercury                   @webex/web-client @webex/web-sdk
packages/@webex/internal-plugin-metrics                   @webex/web-client @webex/web-sdk
packages/@webex/internal-plugin-user                      @webex/web-client @webex/web-sdk
packages/@webex/internal-plugin-voicea                    @webex/web-client @webex/web-sdk
packages/@webex/media-helpers                             @webex/web-client @webex/web-sdk
packages/@webex/plugin-authorization-browser-first-party  @webex/web-client
packages/@webex/plugin-device-manager                     @webex/web-client @webex/web-sdk
packages/@webex/plugin-logger                             @webex/web-client @webex/web-sdk
packages/@webex/plugin-meetings                           @webex/web-client @webex/web-sdk
packages/@webex/plugin-people                             @webex/web-client @webex/web-sdk
packages/@webex/plugin-rooms                              @webex/web-client @webex/web-sdk
packages/@webex/recipe-private-web-client                 @webex/web-client
packages/@webex/storage-adapter-local-forage              @webex/web-client
packages/@webex/storage-adapter-local-storage             @webex/web-client
packages/@webex/storage-adapter-session-storage           @webex/web-client
packages/@webex/storage-adapter-spec                      @webex/web-client
packages/@webex/webex-core                                @webex/web-client @webex/web-sdk
docs/samples/browser-plugin-meetings                      @webex/web-client @webex/web-sdk