{
  "plugins": [
    "transform-runtime",
    "./tooling/babel-plugin-inject-package-version",
    ["babel-plugin-transform-builtin-extend", {
        "globals": ["Error"]
    }],
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-export-extensions",
    "lodash",
    "transform-object-rest-spread"
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          ">0.25%",
          "not dead",
          "ie >= 11" // Office 365 support
        ],
        "node": "6.0"
      }
    }],
    "stage-0"
  ],
  "sourceMaps": true
}
