{
  "plugins": [
    "transform-runtime",
    "./tooling/babel-plugin-inject-package-version",
    ["babel-plugin-transform-builtin-extend", {
        "globals": ["Error"]
    }],
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-export-extensions",
    "lodash",
    "transform-object-rest-spread"
  ],
  "presets": [
    ["env", {
      "targets": [
        ">0.25% in US",
        "last 2 Chrome major versions",
        "last 2 Firefox major versions",
        "not dead",
        "not UCAndroid > 0",
        "ie >= 11", // Office 365 support
        "maintained node versions"
      ]
    }]
  ],
  "sourceMaps": true
}
