{
  "plugins": [
    "transform-decorators-legacy",
    "lodash",
    "transform-runtime",
    [
      "react-intl", {
        "enforceDescriptions": false,
        "extractSourceLocation": true
      }
    ]
  ],
  "presets": ["es2015"],
  "sourceMaps": true
}
