{
  "env": {
    "node": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Promise": false
  },
  "plugins": [
    "mocha"
  ],
  "parser": "babel-eslint",
  "root": true,
  "rules": {
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "camelcase": [2],
    "comma-style": [2, "last"],
    "complexity": [2, 7],
    "curly": [2],
    "eqeqeq": [2],
    "func-style": [2, "declaration"],
    "guard-for-in": [2],
    "handle-callback-err": [2],
    "quotes": [2, "single", "avoid-escape"],
    "max-params": [2, 4],
    "max-depth": [2, 5],
    "max-statements": [2, 30],
    "mocha/no-exclusive-tests": [2],
    "new-cap": [2, {
      "newIsCap": true,
      "capIsNew": true,
      "capIsNewExceptions": ["S"]
    }],
    "no-bitwise": [2],
    "no-caller": [2],
    "no-catch-shadow": [2],
    "no-console": [0],
    "no-empty": [2],
    "no-extend-native": [2],
    "no-inline-comments": [2],
    "no-nested-ternary": [2],
    "no-shadow": [0],
    "no-underscore-dangle": [0],
    "no-undef": [2],
    "no-unused-expressions": [2],
    "no-unused-vars": [2],
    "no-use-before-define": [2, "nofunc"],
    "quote-props": [2, "as-needed"],
    "semi": [2, "always"],
    "strict": [0, "global"],
    "spaced-comment": [2, "always", {
      "markers": ["*!"]
    }],
    "space-infix-ops": [0],
    "wrap-iife": [2],
    "valid-jsdoc": [2, {
      "prefer": {
        "return": "returns"
      },
      "requireParamDescription": false,
      "requireReturn": true,
      "requireReturnDescription": false
    }]
  }
}
