.container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -15px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s ease-in;
}

.container:hover {
  opacity: 1;
}

.button {
  composes: button from '../../styles/buttons.css';
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
}

.icon {
  composes: icon-cisco-right-arrow from '../../styles/icons.css';
  display: block;
  width: 19px;
  height: 29px;
  font-size: 17px;
  color: #fff;
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

.with-text {
  color: #fff;
  background-color: #049fd9;
}
