.container {
  opacity: 0.5;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  cursor: pointer;
  bottom: 10px;
  transition: opacity 0.5s ease-in;
}

.container:hover {
  opacity: 1;
}

.button {
  composes: button from "../../styles/buttons.css";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
}

.icon {
  composes: icon-cisco-right-arrow from "../../styles/icons.css";
  transform: rotate(90deg);
  display: block;
  font-size: 17px;
  height: 29px;
  width: 19px;
  color: #fff;
}
