.post {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.post:hover {
  background-color: rgba(245, 245, 246, 0.4);
}

.post:hover .published {
  visibility: visible;
}

.published {
  flex: 0 0 auto;
  margin-left: 10px;
  opacity: 0.5;
  visibility: hidden;
}

.content {
  width: 100%;
  margin-left: 50px;
  border-radius: 1px;
}

.meta {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-bottom: 7px;
  font-family: 'CiscoSans TT Extra Light', 'Helvetica Neue', Arial;
  font-size: 13px;
  font-weight: 500;
  color: #858688;
  text-align: left;
  word-wrap: break-word;
  cursor: auto;
  transition: opacity 300ms;
  user-select: none;
}

.display-name {
  flex: 0 0 auto;
}

.activity-text {
  width: 100%;
  font-size: 15px;
  color: #4f5051;
  transition: color 0.3s, margin-left 0.3s ease 0.5s;
}

.avatar-wrapper {
  position: absolute;
  display: inline-block;
  flex: 0 0 auto;
}

.pending .activity-text {
  color: rgb(176, 176, 176);
  cursor: pointer;
}

.failed .status {
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  color: rgb(218, 0, 0);
  text-transform: uppercase;
  cursor: pointer;
}

.post.additional {
  margin-top: 5px;
}

.additional .meta,
.additional .avatar-wrapper {
  display: none;
}

/*
 * Align post actions at the bottom right of post
 */
.activity-post-actions {
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-right: 5px;
  text-align: right;
  visibility: hidden;
  flex: 0;
  flex-direction: row;
  justify-content: flex-end;
}

.post:hover .activity-post-actions {
  visibility: visible;
}
