.activity-item {
  position: relative;
  display: flex;
  min-width: 300px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 5px;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 20px;
  overflow: initial;
  outline: none;
  transition: transform 0.3s;
}

.activity-item:hover {
  background-color: rgba(245, 245, 246, 0.4);
}

.content {
  width: 500px;
  max-width: 500px;
  margin-left: 50px;
  border-radius: 1px;
}

.activity-text {
  width: 100%;
  transition: color 0.3s, margin-left 0.3s ease 0.5s;
}

.avatar-wrapper {
  position: absolute;
  display: inline-block;
  flex: 0 0 auto;
}

.pending .activity-text {
  color: rgb(176, 176, 176);
  cursor: pointer;
}

.failed .status {
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
  color: rgb(218, 0, 0);
  text-transform: uppercase;
  cursor: pointer;
}
