.info,
.name,
.meta {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.info {
  display: flex;
  padding: 0 10px;
  margin: auto 0;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-family: 'CiscoSans TT Regular';
  color: #4f5051;
}

.meta {
  color: #aeaeaf;
}

.type,
.size {
  display: inline-block;
  margin-right: 10px;
}

.thumbnail {
  position: relative;
  display: flex;
  width: 94px;
  height: 60px;
  overflow: hidden;
  font-size: 31px;
  line-height: 17px;
  text-align: center;
  background-color: #ebebec;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
}

.thumbnail img {
  max-width: 100%;
  max-height: 100%;
}
