.activity-item {
  padding-left: 5px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  outline: none;
  display: flex;
  overflow: initial;
  min-width: 300px;
  padding-top:5px;
  margin-top:40px;
  position:relative;
  transition: transform 0.3s;
}

.activity-item:hover {
  background-color: rgba(245, 245, 246, 0.4);
}

.content {
  max-width: 500px;
  width:500px;
  margin-left: 50px;
  border-radius:1px;
}

.activity-text {
  transition: color 0.3s, margin-left 0.3s ease 0.5s;
  width:100%;
}

.avatar-wrapper {
  display: inline-block;
  flex: 0 0 auto;
  position: absolute;
}

.pending .activity-text {
  color: rgb(176, 176, 176);
  cursor: pointer;
}

.failed .status {
  color: rgb(218, 0, 0);
  font-size: 10px;
  line-height: 14px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
