.widget-chat {
  font-family: CiscoSansTTExtraLight, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  border: 1px solid #ccc;
}

.widget-chat,
.widget-chat-inner {
  display: flex;
  height: 100%;
  overflow: hidden;
  flex-direction: column;
  flex: 1 1 auto;
}

.activity-list-wrapper {
  position: relative;
  display: flex;
  width: 100%;
}

.message-composer-wrapper {
  height: 100%;
  flex: 1;
}
