.avatar {
  display: flex;
  flex: 1 1 auto;
}

.avatar-letter {
  background-color: darkgray;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: auto;
}

.avatar-letter strong {
  line-height: 40px;
  width: 40px;
  display: block;
  text-align: center;
  font-size: 25px;
}
