body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.users-column {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column-header {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.user-display-ele {
  margin-bottom: 20px;
}

.normal-view,
.edit-view {
  display: flex;
  flex-direction: column;
}

.edit-view {
  display: none;
}

button {
  margin-top: 10px;
}
