.message-composer {
  position: relative;
  height: auto;
  max-height: 500px;
  border-top: 1px solid #d3d3d3;
  transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.hasFocus {
  border-top-color: #66c5e8;
}

.add-file-container {
  position: absolute;
  top: 12px;
  left: 20px;
}

.textarea {
  padding: 20px 20px 20px 70px;
  background-color: #f5f5f6;
}
