.demo-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.widget-component-container {
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 500px;
  height: 600px;
}

.widget-component-container > div {
  height: 100%;
}

.logo {
  width: 30%;
  height: 120px;
  margin: auto;
}

.demo-form {
  display: flex;
  padding: 10px;
  margin: 0 auto;
  font-family: 'CiscoSans TT Light';
  background: #fff;
  flex-direction: column;
  align-items: center;
}

.field-wrapper {
  display: block;
  padding: 5px;
}

.props-submit {
  margin: 0 auto;
}

.field-label,
.field-input {
  margin-right: 10px;
}

.field-input {
  padding: 4px 5px;
  font-family: 'CiscoSans TT Light';
  font-size: 20px;
}

.button {
  padding: 5px 20px;
  font-family: 'CiscoSans TT Light';
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background-color: rgb(0, 112, 210);
  border: 0;
  border-radius: 20px;
}

.button:disabled {
  cursor: default;
  background-color: #808080;
}

.button-small {
  padding: 2px 10px;
  font-family: 'CiscoSans TT Light';
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  background-color: rgb(0, 112, 210);
  border: 0;
  border-radius: 10px;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-item {
  display: flex;
}

.example-code {
  width: 100%;
  padding: 5px;
}
