PW_BASE_URL=https://localhost:8000/samples/contact-center/
PW_SANDBOX_PASSWORD=$rrA%Z1zB6
PW_SENDER_EMAIL_PASSWORD="mzon ikao hlrn zyeh"
PW_SANDBOX=ccsdk.wbx.ai
PW_ENTRY_POINT1=+16266820030
PW_ENTRY_POINT2=+13322234129
PW_ENTRY_POINT3=+13632221002
PW_ENTRY_POINT4=+13159998059
PW_ENTRY_POINT5=+13632221125
PW_ENTRY_POINT6=+13159998087
PW_DIAL_NUMBER_NAME=cypher_e2e_pstn
PW_ENTRYPOINT_NAME=Entry Point-1
PW_DIAL_NUMBER_LOGIN_USERNAME=atlas.test.wxcwebrtc.user50+cypherauto1@gmail.com
PW_DIAL_NUMBER_LOGIN_PASSWORD=webrtcMobius1$
PW_SENDER_EMAIL=ccsdk.wbx.ai.test@gmail.com
PW_CHAT_URL=https://widgets.webex.com/chat-client