lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
bundle.js
pids
logs
results

npm-debug.log
node_modules

# IDE files and folders
.project
.idea

# OSX Artifacts
.DS_Store

# Temporary files & folders
*.bak
*.tmp
*.tmp.*
tmp*
*-temp/
*-tmp/
*_temp/
*_tmp/

.env
