{
  "env": {
    "es6": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "modules": true
  },
  "rules": {
    "arrow-parens": [2, "always"],
    "arrow-spacing": [2, {
      "after": true,
      "before": true
    }],
    "constructor-super": [2],
    "generator-star-spacing": [2, {
      "before": false,
      "after": true
    }],
    "no-class-assign": [2],
    "no-const-assign": [2],
    "no-dupe-class-members": [2],
    "no-this-before-super": [2],
    "no-var": [2],
    "object-shorthand": [2, "always"],
    "prefer-arrow-callback": [2],
    "prefer-const": [2],
    "prefer-reflect": [1],
    "prefer-spread": [2],
    "prefer-template": [2],
    "require-yield": [2]
  }
}
