::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: transparent;
  border: none;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  box-shadow: none;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
