/*
 * NOTE: Currently global, but we may want to consider breaking the icons out
 * into their own components.
 */
.icon::before {
  font-variant: normal;
  font-feature-settings: 'liga';
  font-variant-ligatures: discretionary-ligatures;
  font-family: 'Atlantic Neo Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0;
  text-transform: none;
  speak: none;
}

.icon-cisco-add {
  composes: icon;
}

.icon-cisco-add::before {
  content: '\e00a';
}

.icon-cisco-right-arrow {
  composes: icon;
}

.icon-cisco-right-arrow::before {
  content: '\e0f1';
}

.icon-cisco-message {
  composes: icon;
}

.icon-cisco-message::before {
  content: '\e0a5';
}
