.message-composer {
  position: relative;
  height: auto;
  max-height: 500px;
}

.add-file-container {
  position: absolute;
  top: 12px;
  left: 20px;
}

.textarea-container {
  background-color: #f5f5f6;
  border: 1px solid #d3d3d3;
}

.textarea {
  padding: 20px 20px 20px 70px;
}
